<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Чат</title>
  <link href="style.css" rel="stylesheet">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>  
<div class="container-fluid">
  <div class="row">
    <div class="well login-form" id='loginForm'>
      <h3 class="text-center">Авторизация</h3>
      <form class="form">
        <div class="col-xs-12">
            <div class="form-group">
              <input type="text" id="fio" class="form-control" placeholder="ФИО" />
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <input  type="text" id="nik" class="form-control" placeholder="Ник" />
          </div>
        </div>
        <div class="text-center col-xs-12">
          <input type="button" id="login" class="btn-accept" value="Bойти" />
        </div>
      </form>
    </div>
    <nav class="col-md-2 d-none d-md-block sidebar">
      <div class="row usernblock">
        <img class="rounded-circle" alt="" src="https://taniec.info/images/layout1/no_picture_60x60.gif" style="width: 50px; height: 50px;">
        <div class="userInfo"></div>
      </div>
      <div class="useractive"></div>
    </nav>
    <main role="main" class="col-md-10 col-lg-10">
      <div class="messsage"></div>
      <div class="row messageForm">
        <div class="col-md-10">
          <input type="text" class="messageText form-control mb-2" placeholder="">
        </div>
        <div class="col-md-2">
          <button type="submit" class="sendMessage btn-accept mb-2">Отправиить</button>
        </div>
      </div>
    </main>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5>Загрузка фото</h5>
        <fieldset class="dragzone">
          <input type="file" id="fileselect" name="fileselect"/>
          <div class="label">
            <div id="filedrag">Перетащите сюда файл</div>
            <img id="fileimg" alt="logo"></img>
          </div>
          <div id="submitbutton">
            <button type="submit" class="fileupload btn-accept float-right" data-dismiss="modal">Загрузить файлы</button>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>    
</body>
</html>