<div class="comment__box">
    <div class="comment__title">
        <span><b>{{this.name}}</b></span>
        <span class="place">{{this.place}}</span>
        <span class="date">{{this.date}}</span>
    </div>
    <div class="comment__value">{{this.comment}}</div>
</div>